.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    outline: none;
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link:active::before{
    width: calc(100% - 2px);
    left: 1px;
}
    